@import "../../styleguide/styleguide";

.vertical-menu-item {
  width: 100%;
  max-width: 250px;
  height: 60px;
  padding: 18px 20px;
  background-color: $midnight-blue-900;
  cursor: pointer;
  position: relative;

  &.selected {
    background-color: $midnight-blue-700;
  }

  &:hover {
    background-color: $midnight-blue-700;
  }

  .selected-highlight {
    width: 4px;
    background-color: $hot-pink-400;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .vertical-menu-item-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    float: left;

    &.app-switcher {
      @include background-properties($app-switcher);
    }

    &.dashboard {
      @include background-properties($dashboard);
    }

    &.reporting-analytics {
      @include background-properties($reporting-analytics);
    }

    &.products {
      @include background-properties($product);
    }

    &.digital-assets {
      @include background-properties($dam);
    }

    &.brand-content {
      @include background-properties($brand-content);
    }

    &.target {
      @include background-properties($target);
    }

    &.campaign-promotion {
      @include background-properties($campaign);
    }

    &.task-manager {
      @include background-properties($task-manager);
    }

    &.admin-settings {
      @include background-properties($settings);
    }
  }

  .vertical-menu-item-label {
    font-size: $font-14;
    color: $white;
    padding-left: 15px;
    display: inline-block;
    max-width: calc(100% - 24px);
    line-height: 24px;
  }

  &.with-count {
    .vertical-menu-item-label {
      max-width: calc(100% - 50px);
    }
  }

  .vertical-menu-item-count {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    background-color: $red;
    color: $white;
    font-size: $font-14;
    margin: 1px;
    float: right;
  }
}
