@import "../../styleguide/styleguide";

.verticalMenuItem{
    width: calc(100% - 40px);
    height: 24px;
    line-height: 24px;
    padding: 14px 20px;
    background-color: $midnight-blue-900;
    cursor: pointer;
    position: relative;

    &.selected {
      background-color: $midnight-blue-700;
    }

    .selectedHighlight {
      width: 4px;
      background-color: $hot-pink-400;
      height: 52px;
      position: absolute;
      left: 0;
      top: 0;
    }

    .icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
      float: left;

      &.dashboard {
        @include background-properties($dashboard, 18px)
    }

      &.reportingAndAnalytics {
        @include background-properties($reporting-analytics, 18px)
    }

      &.products {
        @include background-properties($product, 18px)
    }

      &.digitalAssets {
        @include background-properties($dam, 18px)
    }

      &.brandContent {
        @include background-properties($brand-content, 18px)
    }

      &.target {
        @include background-properties($target, 18px)
    }

      &.campaignAndPromotion {
        @include background-properties($campaign, 18px)
    }

      &.taskManager {
        @include background-properties($task-manager, 18px)
    }

      &.adminSettings {
        @include background-properties($settings, 18px)
    }
    }

    .label {
      font-size: $font-14;
      color: $white;
      padding-left: 15px;
      float: left;
      max-width: calc(100% - 40px);
    }

    &.withCount {
      .label {
        max-width: calc(100% - 65px);
      }
    }

    .count {
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      border-radius: 5px;
      background-color: $red;
      color: $white;
      font-size: $font-14;
      margin: 4px;
      float: right;
    }
  }
