@import "../../styleguide/styleguide";

.verticalMenuItem {
  width: 100%;
  max-width: 250px;
  height: 50px;
  padding: 13px 20px;
  background-color: $midnight-blue-900;
  cursor: pointer;
  position: relative;

  &.selected {
    background-color: $midnight-blue-700;
  }

  &:hover {
    background-color: $midnight-blue-700;
  }

  .selectedHighlight {
    width: 4px;
    background-color: $hot-pink-400;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .verticalMenuItemIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    float: left;

    &.dashboard {
      @include background-properties($dashboard);
    }

    &.reportingAndAnalytics {
      @include background-properties($reporting-analytics);
    }

    &.products {
      @include background-properties($product);
    }

    &.digitalAssets {
      @include background-properties($dam);
    }

    &.brandContent {
      @include background-properties($brand-content);
    }

    &.target {
      @include background-properties($target);
    }

    &.campaignAndPromotion {
      @include background-properties($campaign);
    }

    &.taskManager {
      @include background-properties($task-manager);
    }

    &.adminSettings {
      @include background-properties($settings);
    }
  }

  .verticalMenuItemLabel {
    font-size: $font-14;
    color: $white;
    padding-left: 15px;
    float: left;
    max-width: calc(100% - 40px);
    line-height: 24px;
  }

  &.withCount {
    .verticalMenuItemLabel {
      max-width: calc(100% - 65px);
    }
  }

  .verticalMenuItemCount {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    background-color: $red;
    color: $white;
    font-size: $font-14;
    margin: 1px;
    float: right;
  }
}
