.mcm-button {
  height: 40px;
  min-width: 70px;
  background-color: #ff0073;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  color: #fff;
}

.mcm-button:disabled,
.mcm-button[disabled] {
  background-color: #ff99c7;
}
