@import '../../styleguide/styleguide';

.mcm-button {
  min-width: 120px;
  height: 36px;
  border-radius: 5px;
  background-color: $hot-pink-400;
  color: $white;
}

.mcm-button:disabled {
  opacity: 0.4;
}

.mcm-button:focus {
  outline: $hot-pink-400 auto 5px;
}
