@import '../../styleguide/styleguide';

.mcm-button {
  height: 40px;
  min-width: 70px;
  background-color: $hot-pink-400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  color: $white;
}

.mcm-button:disabled,
.mcm-button[disabled] {
  opacity: 0.4;
}
