@import "../../styleguide/styleguide";

.vertical-menu {
  width: 250px;
  height: 100%;
  background-color: $midnight-blue-900;
  transition: all .2s;
  overflow-y: auto;

  .vertical-menu-item {
    &.header {
      height: 62px;
      padding: 19px 20px;
      margin-bottom: 15px;
      white-space: nowrap;
    }

    .vertical-menu-item-label {
      &.header {
        font-size: $font-25;
        font-weight: bold;
        color: $hot-pink-400;
        padding-left: 15px;
      }
    }
  }
}

.collapsible-wrapper {
  &.collapsed {
    .vertical-menu {
      width: 64px;
    }

    .vertical-menu-item-count {
      position: absolute;
      top: 12px;
      right: 10px;
      width: 17px;
      height: 17px;
      line-height: 17px;
      font-size: $font-12;
    }
  }
}
