@import "../../styleguide/styleguide";

.verticalMenu {
  width: 250px;
  height: 100%;
  background-color: $midnight-blue-900;
  transition: all 0.2s;
  overflow-y: auto;

  .verticalMenuHeader {
    width: 100%;
    height: 62px;
    padding: 19px 20px;
    margin-bottom: 15px;
    cursor: pointer;

    .verticalMenuHeaderIcon {
      width: 24px;
      height: 24px;
      object-fit: contain;
      float: left;

      &.appSwitcher {
        @include background-properties($app-switcher);
      }
    }

    .verticalMenuHeaderLabel {
      font-size: $font-25;
      font-weight: bold;
      color: $hot-pink-400;
      padding-left: 15px;
      float: left;
      line-height: 24px;
    }
  }
}

.collapsibleViewWrapper {
  &.collapsed {
    .verticalMenu {
      width: 64px;
    }

    .verticalMenuItemCount {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 17px;
      height: 17px;
      line-height: 17px;
      font-size: $font-12;
    }
  }
}
