@import "../../styleguide/styleguide";

.collapsible-wrapper {
  width: fit-content;
  height: calc(100% - 60px);

  .collapsible-footer {
    height: 60px;
    background-color: $midnight-blue-300;
    padding: 18px 20px;
    cursor: pointer;

    .expand-collapse-icon {
      width: 24px;
      height: 24px;
      float: left;
      @include background-properties($collapse);
    }

    .collapsible-footer-label {
      float: left;
      padding-left: 15px;
      line-height: 24px;
      color: $black-blue;
      font-size: $font-14;
    }
  }

  &.collapsed {
    .collapsible-footer {
      .expand-collapse-icon {
        @include background-properties($expand);
      }
    }
  }
}
