/*
  This file contains variables for colors
*/

$midnight-blue-900: #121c6a;
$midnight-blue-800: #202d7f;
$midnight-blue-700: #28378b;
$midnight-blue-600: #314097;
$midnight-blue-500: #4351a1;
$midnight-blue-400: #5562ae;
$midnight-blue-300: #727ebb;
$midnight-blue-200: #99a2cf;
$midnight-blue-100: #c1c6e2;
$midnight-blue-50: #e7ebf3;
$hot-pink-700: #d70054;
$hot-pink-600: #ed0057;
$hot-pink-500: #fe0059;
$hot-pink-400: #ff0073;
$green: #1bc287;
$orange: #fb9f42;
$red: #f13e43;
$black-blue: #00073b;
$white: #fff;
