$app-switcher: 'images/app-switcher.svg';
$arrow-left: 'images/arrow-left.svg';
$arrow-right: 'images/arrow-right.svg';
$brand-content: 'images/brand-content.svg';
$campaign: 'images/campaign.svg';
$collapse: 'images/collapse.svg';
$create-persona: 'images/create-persona.svg';
$dam: 'images/dam.svg';
$dashboard: 'images/dashboard.svg';
$default: 'images/default.svg';
$default-persona: 'images/default-persona.svg';
$dislike: 'images/disliket.svg';
$expand: 'images/expand.svg';
$like: 'images/like.svg';
$love: 'images/love.svg';
$neutral: 'images/neutral.svg';
$product: 'images/product.svg';
$reporting-analytics: 'images/reporting-analytics.svg';
$settings: 'images/settings.svg';
$target: 'images/target.svg';
$task-manager: 'images/task-manager.svg';
